data/
data/raw/
data/processed/
*.npy
*.npz

# Checkpoints y modelos grandes
experiments/**/*.pth
experiments/**/*.pt
*.pth
*.pt

__pycache__/

.ipynb_checkpoints

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db